USE [master]
GO
/****** Object:  Database [NotasDB]    Script Date: 31/07/2020 18:33:36 ******/
CREATE DATABASE [NotasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NotasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NotasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotasDB]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 31/07/2020 18:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matematica] [int] NULL,
	[ciencias] [int] NULL,
	[castellano] [int] NULL,
	[ingles] [int] NULL,
	[deporte] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
