@{
    ViewBag.Title = "Página de inicio";
}

    <div class="jumbotron">

        <!-- top tiles -->
        <div class="row" style="display: inline-block;">
            <canvas id="math" width="200" height="200"></canvas>
        </div>
        <div class="row" style="display: inline-block;">
            <canvas id="sci" width="200" height="200"></canvas>
        </div>
        <div class="row" style="display: inline-block;">
            <canvas id="sport" width="200" height="200"></canvas>
        </div>
        <div class="row" style="display: inline-block;">
            <canvas id="cast" width="200" height="200"></canvas>
        </div>
        <div class="row" style="display: inline-block;">
            <canvas id="eng" width="200" height="200"></canvas>
        </div>
        <div id="container" style="height: 600px; width: 600px;"></div>
        <div id="container2" style="height: 600px; width: 1000px;"></div>
        <li>@Html.ActionLink("Ver en Tabla", "Table", "Home")</li>




    </div>
